/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    background: linear-gradient(135deg, #abd4e6, #5ebeea, #83c5e1);
    min-height: 100vh;
    padding: 60px 20px;
}

/* JUDUL */
h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 5px;
    font-size: 2,5rem;
    letter-spacing: px;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 2,5rem;
    letter-spacing: px;

}
/* CARD */
.card {
    background: rgba(255, 255, 255, 0.97);
    max-width: 420px;
    margin: 0 auto 40px;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 35px 70px rgba(0, 0, 0, 0.35);
}

/* FOTO */
.foto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #78acc2;
}

/* NAMA */
.card h2 {
    margin-bottom: 18px;
    color: #1a1a1a;
    font-size: 1.4rem;
}

/* TEKS */
.card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 10px;
}


/* LINK LANJUT */
.next {
    display: table;
    margin: 20px auto 0;
    padding: 14px 36px;
    background: linear-gradient(135deg, #b4def1, #97bae7);
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.next:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #434343, #000000);
}

/* RESPONSIVE */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .card {
        padding: 24px;
    }
}